<% provide(:title, 'about') %>
<h1>What is "BeansStreet"</h1>
<h2>「今、ここにしかない」最高な、旬な、お得なものをお届けします</h2>
<p>ちょっとした時間に、この瞬間の素敵なものに出会えるかもしれない。</a>
<p>人と人、店舗と人が繋がって、思わぬ新しい発見、嬉しい出会いを創る、新しい価値を作る、<br>
	新しい“場”を提供します。</p>