<div id ="search_output">
<h2>「<%= @search_word %>」に該当する店舗</h2>

<ul class="users">
  <% @stores.each do |store|%>
    <%= link_to store.name, store_path(store.id) %>
  <% end %>
</ul>


<h2>「<%= @search_word %>」に該当する記事</h2>

<ul class="users">
  <% @articles.each do |article|%>
    <%= link_to article.title, article_path(article.id) %>
  <% end %>
</ul>
</div>