<% @page_title = "ユーザー管理が面"%>
<section id="blog" class="posts"> 
        <div class="container-fluid"> <!-- Start Container -->
          <div class="row"> <!-- Start Row -->
            <div class = "select_geo">
            </div> 
            <div class = 'indexarticles'>    
            <div class = 'articles'>
            	<% @articles.each do |article|%>
				<ul>
					<li><%= link_to article.title, admin_article_path(article.id) %></li>
					<li><%= article.store.name %></li>
				</ul>
				<% end %>
			</div>
		    </div>
		  </div>
		 </div>
</section>