<% @page_title = "管理用ページトップ"%>
<section id="blog" class="posts"> 
        <div class="container-fluid"> <!-- Start Container -->
          <div class="row"> <!-- Start Row -->
            <div class = "select_geo">
            </div> 
            <div class = 'indexarticles'>    
            <div class = 'articles'>

				<ul>
					<li><%= link_to "ユーザー情報", :admin_users %></li>
					<li><%= link_to "記事情報", :admin_articles %></li>
				</ul>
			</div>
		    </div>
		  </div>
		 </div>
</section>