<% @page_title = "ユーザー管理が面"%>
<section id="blog" class="posts"> 
        <div class="container-fluid"> <!-- Start Container -->
          <div class="row"> <!-- Start Row -->
            <div class = "select_geo">
            </div> 
            <div class = 'indexarticles'>    
            <div class = 'articles'>
            	<% @stores.each do |store|%>
				<ul>
					<li><%= link_to store.name, admin_store_path(store.id) %></li>
					<li><%= store.email %></li>
				</ul>
				<% end %>
			</div>
		    </div>
		  </div>
		 </div>
</section>