// @import "bootstrap";

/* mixins, variables, etc. */

// $grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body p {
font-size: 18px;
letter-spacing: 0.5px;
line-height: 25px;
margin-bottom: 15px;
font-weight: 400;
}

//indexの現在位置バー
.select_geo {
  margin-top: 42px;
  background-color: rgba(179, 231, 28, 0.15);
}

.select_geo p {
  font-size: 10px;
  margin-bottom: 0px;
 }

body .title h2 {
color: #969698;
}

//show上部箇所の背景
body .static {
position: fixed;
background-color: rgba(138, 247, 185, 0.12);
overflow: hidden;
z-index: 0;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

body #post h1 {
font-family: 'sans-serif';
font-size: 50px;
}

body .title h3 {
  margin-top: 0px;
}

body h1, .h1, h2, .h2, h3, .h3 {
margin-top: 100px;
margin-bottom: 30px;
}

body .featured-content .text-overlay {
display: block;
position: absolute;
top: 0;
right: 0px;
}

body .title h2{
  color: #969698;
}

body h2 {
  text-align: left;
  color: #969698;
}

body .metas {
padding: 0px 0;
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 0;
color: #333;
background-color: #fff;
}

// show 右枠文字など調整
body .metas .meta, ul.meta li, .text-overlay a {
font-size: 16px;
letter-spacing: 1px;
font-weight: 400;
line-height: 18px;
text-transform: uppercase;
font-family: "Lato",sans-serif;
}

body .name {
  border-top: 1px solid #D0CFCF;
}

body .tel {
  border-top: 1px solid #D0CFCF;
}

body .time {
  border-top: 1px solid #D0CFCF;
}

body .holiday {
  border-top: 1px solid #D0CFCF;
}
body .address {
  border-top: 1px solid #D0CFCF;
}

body .address_map {
  border-top: 1px solid #D0CFCF;
}

body ul.user-action {
position: absolute;
top: 80%;
}

.text-overay h2 {
font-size: 100%;
font-family: 'Great Vibes', cursive;
text-transform: none;
letter-spacing: 0;
font-size: 36px;
color: #6D6E76;
text-align: left;
}

body section#blog.posts {
  margin-top: 42px;
}

body .articles {
list-style: none;
margin: 0px 0 0 0;
}

body .nopadding {
padding: 0;
margin-top: -5px;
}

body .text-overlay {
background: rgba(164, 236, 195, 0.21);
height: 100%;
width: 55%;
// padding: 80px 80px;
float: right;
color: #1C1B1F;
}

body #blog.posts .blog-box .hover-text {
background: rgba(24, 27, 9, 0.31);
}

body .blog-box .hover-text {
color: white;
}

//index一覧の左右の余白削除 
body .container {
padding-right: 0px;
padding-left: 0px;
margin-right: 0px;
margin-left: 0px;
width: auto;
}

body .ptitle {
  color: white; 
}

body body {
  margin: 0;
}

// index一覧の箱文字
.title_box {
  color: white;
  text-align: left;
}

.nowheretitle{
  font-size: 1.5em;
}

.title_box p{
  font-weight: 700;
}

.hover-bg img{
  width: 100%;
}

body .blog-box a {
color: #FCFDFD !important;
}

body #blog.posts .blog-box .hover-text {
  background-color: rgba(71, 66, 36, 0.41);
}

//nowheretitle文字
body p.excerpt {
padding-top: 20px;
font-size: 13px;
font-size:30px;
font-weight: 900;
}

body #hero {
background: rgba(153, 237, 243, 0.58);
}

#portfolio a {
color: whtite;
}

body .nav > li > a {
background-color: rgb(34, 34, 34);
}

// indexヘッダーとの余白削除
body .navbar {
position: relative;
min-height: 30px;
margin-bottom: -84px;
border: 1px solid transparent;
}
/* universal */

html {
  overflow-y: scroll;
}

// ヘッダーの文字 
body #hero a, #portfolio a {
color: #F2F9F0;
}

.small-box img{
  width: 100%;
}

body a, a:hover {
color: #A6ABC2;
text-decoration: none;
}

li strong {
  color: #A6ABC2;
}
// body {
//   padding-top: 60px;
// }

// sample page グラデーション
.small-box:hover .hover-text.animated {
  display: block;
}

body .small-box .hover-text {
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
}

// indexpageのグラデーション
body .blog-box .hover-text {
  background: rgba(255, 255, 255, 0.47);
  display: block;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

body h1 {
  font-family: 'sans-serif';
  font-size: 160px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  // color: $grayLight;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  // color: $grayLight;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}


/* header */


.nav>li {
  float: left;
}

.nav>li>a {
  background-color: white;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  // border-top: 1px solid $grayMediumLight;
  // color: $grayLight;
  a {
    // color: $gray;
    &:hover {
      // color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    // border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* articles */

.articles {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
  }
}
.content {
  display: block;
}
.timestamp {
  // color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* home */

.row {

  li {
    padding: 10px 0;
    border-top: 2px solid #888888;
  }
}

/* stores index */

.stores {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    // border-top: 1px solid $grayLighter;
    &:last-child {
      // border-bottom: 1px solid $grayLighter;
    }
  }
}


.footer{
  clear: both;
}


